* {
  box-sizing: border-box;
}

.App {
  color: white;
  display: flex;
  flex-direction: column;
}

a {
  color: wheat;
  text-decoration: none;
  font-size: 2.5rem;
}

body {
  background-image: url('https://zastavok.net/main/raznoe/1528280801.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.MuiPaper-root {
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.MuiListItemButton-root {
  padding: 4px;
}

.games-list {
  list-style: none;
  display: flex;
  font-size: 1.2rem;
}

.main {
  flex: 1 1 auto;
  min-height: calc(100vh - 118.2px);
}

.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  font-size: 1.5rem;
}

.game-info,
.game-participants {
  display: flex;
  align-items: center;
  gap: 5px;
}

.game-time {
  width: 100px;
}

@media (max-width: 650px) {
  .MuiTypography-root.MuiTypography-h2 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .MuiTypography-root.MuiTypography-h4 {
    font-size: 1.3rem;
  }

  .MuiTypography-root.MuiTypography-h3 {
    font-size: 1.5rem;
    min-width: 70%;
  }

  .MuiTypography-root.MuiTypography-h2 {
    font-size: 1.5rem;
  }

  .MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
    font-size: 1rem;
  }

  .css-1c1s55e-MuiFormControlLabel-root {
    margin-left: 0;
  }

  .game-info {
    gap: 15px;
  }
}
